
:root{
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --background-dark-color: #2F303A;
    --background-grey-color: #F5F4FA;

}

body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    letter-spacing: 0.03em;
    font-size: 14px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3 ,h4 ,h5, h6, p{
    margin: 0;
    padding: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}



.link,
.contact-link,
.logo,
.logo-footer,
.contact-address {
    text-decoration: none;
}


.item {
    list-style-type: none;
}

.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    

}

.section{
 padding-top: 94px;
 padding-bottom: 94px;

}

.work .section{
    padding-top: 0;
}

/* HEADER  _________________________________________*/

.page-header{
    border-bottom: 1px solid #ECECEC;
}

.page-header .conteiner, .site-nav{
    display: flex;
    align-items: center;
}



/* LOGO */

.logo {
    display: block;
    font-family: 'Raleway';
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    padding: 25px 0;

}

.logo span{
    color: var(--accent-color);
}

/* NAVI */

.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.site-nav .link:focus, .site-nav .link:hover{
    color: var(--accent-color);
}
 .site-nav .link.current{
    color: var(--accent-color);
 }

 .link{
    padding: 20px 0;
 }

 .site-nav .page-nav{
    display: flex;
    margin-left: 93px;
}

.page-nav .item{
    margin-right: 50px;
}

.page-nav .item:last-child{
    margin-right: 0;
}

.auth-nav{
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item{
    margin-left: 50px;
}

.contact-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.contact-link:focus, .contact-link:hover{
    color: var(--accent-color);
}


/* HERO ___________________________________________________*/

.hero{
    background-color: var(--background-dark-color);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../image/hero.jpg);
       
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    
}

.hero-title{
    margin: 0 auto;
    width: 690px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    
}

.hero-button{
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.06em;

}

/* feature ________________________________________________________*/
 

.feature h2{
    text-align: center;
    display: none;
}

.feature-list{
    display: flex;
}

.feature-list .item{
    display: block;
    margin-right: 30px;
    width: 270px;
}

.feature-list .item:last-child{
    margin-right: 0;
}

.feature-icon{
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-grey-color);
}

.feature-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.feature-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}

/* WORK ___________________________________________________________________*/


.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}

.work-list{
    display: flex;
    justify-content: center;
}

.work-list .item{
    
    margin-right: 30px;
    height: ;
}

.work-list .item:last-child{
    margin-right: 0;
}
/* TEAM ___________________________________________________________________________*/

.team{
   background-color: var(--background-grey-color); 
   
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}

.team-flex{
    display: flex;
}

.team-flex .item{
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
}

.team-flex .item:last-child{
    margin-right: 0;
}

.team-people{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);

}

.team-text{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;

}

.team-icon{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    padding: 0;
}
.item-icon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: block;
    list-style-type: none;
    margin-right: 10px;
    
}

.item-icon:last-child{
    margin-right: 0;
}

/* CLIENTS */

.clients-title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color:  var(--title-text-color);

}
.icon-list{
    display: flex;
    justify-content: center;
}

.icon-list .item{
    display: block;
    margin-right: 30px;
    padding: 16px 31px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.icon-list .item:last-child{
    margin-right: 0;
}

/* FOOTER ______________________________________________________________*/

.footer{
    background-color: var(--background-dark-color);
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    
}

.logo-footer{
    font-family: 'Raleway';
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

address{
    margin-top: 20px;
    color: var(--primary-white-color);
}

.contact .item{
    margin-bottom: 9px;
}

.contact .item:last-child{
    margin-bottom: 0;
}

.logo-footer span{
    color: var(--accent-color);
}

.contact-address {
    color: var(--primary-white-color);
    margin-bottom: 9px;
}
.contact{
    font-style: normal;
}

.conteiner.flex{
    display: flex;
    align-items: center;
}

.subscribe{
  margin-left: 70px;
  
}

.subscribe-title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.subscribe-list{
    display: flex;
}

.subscribe-list .item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-list .item:hover, .subscribe-list .item:focus{
    background-color: var(--accent-color);
}

.subscribe-list .item:last-child{
    margin-right: 0;
}








/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* PORTFOLIO */




/* BUTTON */

.project-button{
 margin-top: 0;
 margin-bottom: 50px;
}

.button-nav{
    padding: 6px 22px;
    color: var(--title-text-color);
    background: var(--background-grey-color);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.button-nav:focus, .button-nav:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PROJECT LIST ___________________________*/

.project{
    display: block;
}

.project .project-button{
    display: flex;
    justify-content: center;
}

.project-button .item{
    margin-right: 8px;
}

.project-button .item:last-child{
    margin-right: 0;
}




.project .project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list .item{
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: var(--primary-white-color);
    
}

.project-list .item:nth-child(3n + 3){
    margin-right: 0;
  }

  .project-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .cards{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .cards-link{
    text-decoration: none;
  }

.cards-title{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}

.cards-text{
    font-size: 16px;
    line-height: 1.9;
}

.project-list .item:hover, .project-list .item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

fill="#2196f3" style="fill:var(--color1, #2196f3)" 